[Unit]
Description=car.js - client for carchain project
Documentation=https://git.smagcloud.de/DHBW17B/carchain
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home/pi/git/carchain/RaspberryPi/car.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
