[Unit]
Description=car.js - client for carchain project
Documentation=https://github.com/Tachmeton/Carchain
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home/pi/git/Carchain/RaspberryPi/car.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
